<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Chat Service</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="/images/fevicon.png" type="image/png" />
      <style></style>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/style.css" />
      <link rel="stylesheet" href="/chat.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/css/responsive.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/css/custom.css" />
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js" integrity="sha512-jMNwWSmjje4fjYut9MBGKXw5FZA6D67NHAuC9szpjbbjg51KefquNfvn4DalCbGfkcv/jHsHnPo1o47+8u4biA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_im">
                           <img class="img-responsive" src="/uploads/<%= user.image%>" style="border-radius:50% !important" height="70px" width="80px"/>
                        </div>
                        <div class="user_info">
                           <h6><%= user.name%></h6>
                           <p><span class="online_animation"></span></p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>Chat System</h4>
                  <ul class="list-unstyled components">
                    
                     <li><a href="/dashboard"><i class="fa fa-home orange_color"></i> <span>Chat</span></a></li>
                     <li><a href="/groups"><i class="fa fa-group orange_color"></i> <span>Groups</span></a></li>
                     <li><a href="/logout"><i class="fa fa-sign-out purple_color2"></i> <span>Logout</span></a></li>
                    
                     
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
              
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
 

                       
    <div class="col-md-12">
 <!-- example Chat  -->
        
            <div class="row">
               <div class="col-md-4 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                  <div class="card-header">
                     <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                           <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                     </div>
                  </div>
                  <div class="card-body contacts_body">
                     <ui class="contacts">
                    
                     <% for (let i= 0; i < users.length; i++ ) {%>
                        <li class="user-list" data-id="<%= users[i]._id%>" style="cursor:pointer" data-name="<%= users[i].name %>">
                           <div class="d-flex bd-highlight">
                              <div class="img_cont">
                                 <img src="/uploads/<%= users[i].image%>" alt="" class="rounded-circle user_img" style="border:none !"> 
                                 <% if( users[i].is_online == 1) {%>
                                    <span class="online_icon" id="<%= users[i]._id%>"></span>
                                 <%} else {%>
                                    <span class="offline" ></span>
                                 <%} %>
                                
                              </div>
                              <div class="user_info">
                                 <span> <%= users[i].name %></span>
                                 <p> <% if( users[i].is_online == 1) {%>
                                    <%= users[i].name%> is online
                                 <%} else {%>
                                    <%= users[i].name%> is left
                                 <%} %></p>
                              </div>
                           </div>
                        </li>
                    <% }%>
                     </ui>
                  </div>
                
               </div>
            </div>
               <div class="col-md-8 chat">
                  <h3 class="start-head">Click to start the chat</h3>
                  <div class="chat-section" style="display: none;">
                     <div class="card">
                    
                        <div class="card-header msg_head fixed">
                           <div class="d-flex bd-highlight">
                              <div class="img_cont">
                                 <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                 <span class="online_icon"></span>
                              </div>
                              <div class="user_info">
                                 <span id="user_line_name"></span>
                                 <p>1767 Messages</p>
                              </div>
                              <div class="video_cam">
                                 <span><i class="fas fa-video"></i></span>
                                 <span><i class="fas fa-phone"></i></span>
                              </div>
                           </div>
                           <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                           <div class="action_menu">
                              <ul>
                                 <li><i class="fas fa-user-circle"></i> View profile</li>
                                 <li><i class="fas fa-users"></i> Add to close friends</li>
                                 <li><i class="fas fa-plus"></i> Add to group</li>
                                 <li><i class="fas fa-ban"></i> Block</li>
                              </ul>
                           </div>
                        </div>
                        <div class="card-body" id="chat-container" style="overflow: scroll;">
                          
                        </div>
                      <div class="card-footer fixed">
                        <form action="" id="chat-form" >
                        <div class="input-group">
                           <div class="input-group-append">
                              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                           </div>
                           <textarea id="message" class="form-control type_msg message" placeholder="Type your message..." required></textarea>
                           <div class="input-group-append">
                              <button type="submit" class="btn btn-sm btn-success"> <i class="fas fa-location-arrow" aria-hidden="true"></i></button>
                              
                           </div>
                        </div>
                     </form>
                     </div>
                  </div>
                    
               </div>
                  </div>
                  

              
            </div>
      
         <!-- end example Chat -->
  </div>

                  </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                           Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                     </div>
                  </div>



                 



               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
    
         
         <!--Delete Chat  Modal -->
         <div class="modal fade" id="deleteChatModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <form id="delete-chat-form">
                  <div class="modal-body">
                     <input type="hidden" name="id" id="delete-message-id">
                     <p class="text-danger">Are you Sure to delete this Message?</p>
                   
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-danger">Delete</button>
                   </div>
               </form>
            </div>
            </div>
         </div>
          <!-- Modal -->
          <div class="modal fade" id="editChatModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Chat</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <form id="update-chat-form">
                  <div class="modal-body">
                     <input type="hidden" name="id" id="edit-message-id">
                     <input class="form-control" type="text" name="message" id="update-message" required placeholder="Enter message" >
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-success">Update</button>
                   </div>
               </form>
            </div>
            </div>
         </div>


        
      <!-- jQuery -->
      <!-- <script src="/js/jquery.min.js"></script> -->
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/js/animate.js"></script>
      <!-- select country -->
      <script src="/js/bootstrap-select.js"></script>
    
      <script src="/js/utils.js"></script>
      <script src="/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/js/custom.js"></script>
      <script src="/js/chart_custom_style1.js"></script>
        <!-- Custom jqurey for chat Box -->
        <script>
         $(document).ready(function(){
                     $('#action_menu_btn').click(function(){
                        $('.action_menu').toggle();
                     });
                        });
         
            const socket= io('/user-namespace',{
               auth:{
                  token: '<%= user._id%>'
               }
            });
            let sender_id= '<%= user._id%>';
            let reciver_id;

            // jqurey show or hide message container

            $(document).ready(function(){
                $('.user-list').click(function(){
                  // getting senderId
                  let userId= $(this).attr('data-id');
                  let username= $(this).attr('data-name');
                     reciver_id= userId
                    $('.start-head').toggleClass('bb');
                    $('.chat-section').toggleClass('aa');

                    socket.emit('exitChat',{sender_id:sender_id, reciver_id:reciver_id, name:name})
                })
            });

            // get user online status
            socket.on('online', async (data)=>{
               $('#'+data.user_id).removeClass('online_animation')
            })

            //getuser offline status
            socket.on('online', async (data)=>{
               $('#'+ data.user_id);
               $('#'+data.user_id).addClass('online_animation')
            })

            //chat save of user
            $('#chat-form').submit((event)=>{
               event.preventDefault();
              var message=  $('#message').val();
              //clear input message
               event.target.elements.message.value='';
               event.target.elements.message.focus();

               $.ajax({
                  url:"/save-message",
                  type:"POST",
                  data:{sender_id:sender_id, reciver_id:reciver_id,message:message},
                  success:(response)=>{
                     if(response.success){
                        $("#message").val();
                        let chat= response.data.message;
                        let user= response.user.image;
                        
                        let html=`
                           
             <div id='`+ response.data._id +`'>
						<div class="msg_card_body">
							<div class="d-flex justify-content-end mb-4">
								
                        <div class="dropdown_section" style="margin: 10px -6px;">
                                                <div class="dropdown dropleft">
                                                   <i type="button" class="fa fa-ellipsis-v" data-toggle="dropdown" ></i>
                                                   <div class="dropdown-menu">
                                                      <a  class="edit  text-primary" data-toggle="modal" data-target="#editChatModel" data-id='`+ response.data._id +`' data-msg='`+ chat +`' style="cursor:pointer;margin-right:32px;">Edit Message</a>
                                                     
                                                      <a class=" trash user-trash text-danger" data-toggle="modal" data-target="#deleteChatModel" data-id='`+ response.data._id +`' style="cursor:pointer; margin-right:12px;">Delete Message</a>
                                                     
                                                      
                                                   </div>
                                                </div>
                                
                           </div>
								<div class="msg_cotainer">
									`+ chat +`
								</div>
                        <div class="img_cont_msg">
									<img src="/uploads/`+ user +`" class="rounded-circle user_img_msg">
								</div>
							</div>
							
							
						</div>
					
					</div> `;
               // heml end
                        $('#chat-container').append(html);
                        socket.emit('newChat', {data:response.data,reciver:response.reciver })
                        scrollChat()
                     }
                     else{
                        console.log('bb')
                     }
                  }
               })
            
            })

          //Load New Chat
          socket.on('loadNewChat',({data,reciver})=>{
               const image= reciver.image;
            if(sender_id === data.reciver_id && reciver_id == data.sender_id){
               
               let html=`
               
               <div class="msg_card_body" id='`+ data._id +`'>
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
                           <img src="/uploads/`+ image +`" class=""  width="30px" height="30px" style="border-radius:50%;"/>
								</div>
								<div class="msg_cotainer">
                           `+ data.message +`
								</div>
							</div>
							
							
						</div>
               `;
               $("#chat-container").append(html);
               scrollChat()
            }
              
          })

         //  lading Old Chat 
         socket.on('loadChats', async (data)=>{
            $('#chat-container').html('')
           let chats= data.chats;
            
           let html='';
           for (let i=0; i<chats.length; i++){

               let addClass='';
               if(chats[i].sender_id === sender_id){
                  
                  html += `      
                     <div class="d-flex justify-content-end mb-4 " id='`+ chats[i]._id+`'>
								
                        <div class="dropdown_section" style="margin: 10px -6px;">
                                                <div class="dropdown dropleft">
                                                   <i type="button" class="fa fa-ellipsis-v" data-toggle="dropdown" ></i>
                                                   <div class="dropdown-menu">
                                                      <a  class="edit  text-primary" data-toggle="modal" data-target="#editChatModel" data-id='`+ chats[i]._id+`' data-msg='`+chats[i].message+`' style="cursor:pointer;margin-right:32px;">Edit Message</a>
                                                     
                                                      <a class="trash user-edit text-danger " data-id='`+ chats[i]._id+`' data-toggle="modal" data-msg="`+ chats[i].message +`" data-target="#deleteChatModel" style="cursor:pointer; margin-right:12px;">Delete Message</a>
                                                     
                                                      
                                                     
                                                      
                                                   </div>
                                                </div>
                                
                           </div>
								<div class="msg_cotainer">
									`+chats[i].message+`
								</div>
                        <div class="img_cont_msg">
									<img src="/uploads/`+ data.senderUser.image +`" class="rounded-circle user_img_msg">
								</div>
							</div>
							

                  `;
                  // html end
               }
               else{
                  html += `
            <div class="msg_card_body" id='`+ chats[i]._id+`'>
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
                           <img src="/uploads/`+ data.reciveUser.image +`" class="mt-2"  width="30px" height="30px" style="border-radius:50%;margin-right:5px;"/>
								</div>
								<div class="msg_cotainer">
                           `+chats[i].message+` 
								</div>
							</div>
							
							
						</div>
            `;
               }
               
            
           }
           $('#chat-container').append(html);

           scrollChat()
         });


         // delete chat work
         $(document).on('click', '.trash', function(){
           
            $("#delete-message-id").val($(this).attr('data-id'));
         });

         $('#delete-chat-form').submit(function(event){
            event.preventDefault();
            let id= $('#delete-message-id').val();
            $.ajax({
               url:"/delete-message",
               type:"POST",
               data:{id:id},
               success:(response)=>{
                  if(response.success == true){
                     $('#'+id).remove();
                     $('#deleteChatModel').modal('hide')
                     socket.emit('chatDeleted',id)
                  }
                  else{
                    alert(response.msg)
                  }
               }
            })
         });


         // Update User Chat Functionally
         $(document).on('click', '.edit', function(){
            $('#edit-message-id').val($(this).attr('data-id'))
            $('#update-message').val($(this).attr('data-msg'))
         })

         $('#update-chat-form').submit(function(event){
            event.preventDefault();
            let id= $('#edit-message-id').val();
            let msg= $('#update-message').val()
            $.ajax({
               url:"/update-message",
               type:"POST",
               data:{id:id, message:msg},
               success:(response)=>{
                  if(response.success == true){
                     $('#'+id).find('span').text(msg);
                     $('#'+id).find('.edit').attr('data-msg', msg)
                     $('#editChatModel').modal('hide')
                     socket.emit('chatUpdated',{id:id, message:msg})
                  }
                  else{
                    alert(response.msg)
                  }
               }
            })
         });

         socket.on('ChatMessageUpdated', function (data){
            $('#'+data.id).find('span').text(data.message);

         })

         // scrollChat static Function
        
         function scrollChat(){
            $('#chat-container').animate({
               scrollTop:$('#chat-container').offset().top + $('#chat-container')[0].scrollHeight
            },0)
         }
         
         socket.on('ChatMessageDeleted', function(id){
            $('#'+id).remove(); 
         })
          </script>
   </body>
</html>